{% extends 'audiodist/base.html' %}

{% block head_title %} Create a collection {% endblock head_title %}

{% block content %}
    <h1 class="mb-5">Add a collection</h1>
    
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p style="width: fit-content;" class="alert alert-danger mb-4"> <strong class="alert-danger">{{ error }}</strong> </p>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="my-5">
            <label for="title" class="col-1"><strong>Title</strong></label>
            {{ form.title }}
        </div>
        <div class="my-5">
            <label for="desc" class="col-1"><strong>Description</strong></label>
            {{ form.description }}
        </div>
        <div class="my-5">
            <label for="cover" class="col-1"><strong>Cover</strong></label>
            {{ form.cover }}
        </div>
        <div class="my-5">
            <label for="kind" class="col-1"><strong>Kind</strong></label>
            {{ form.kind }}
        </div>
        <div class="my-5">
            <label for="release-date" class="col-1"><strong>Release date</strong></label>
            {{ form.release_date }}
        </div>
        <div class="my-5">
            <label for="is-public" class="col-1"><strong>Is public</strong></label>
            {{ form.is_public }}
        </div>
        <input type="submit" value="Create" class="btn btn-success">
    </form>
    
{% endblock content %}